set timeout=30

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Autoinstall Ubuntu Server" {
    set gfxpayload=keep
    #set ip static or dhcp to read the user-data(cloud-init) file from web server
    # dhcp
    #linux   /casper/vmlinuz ip=dhcp quiet autoinstall ds=nocloud-net\;s=http://172.20.22.118:3003/  ---
    linux   /casper/vmlinuz ip="ip address"::"gateway":"subnet" quiet autoinstall ds=nocloud-net\;s=http://"web server address"/  ---
    # example:
    #linux   /casper/vmlinuz ip=192.168.1.100::192.168.1.1:255.255.255.0 quiet autoinstall ds=nocloud-net\;s=http://10.10.1.100:3003/  ---
    initrd  /casper/initrd
}
menuentry "Try or Install Ubuntu" {
	set gfxpayload=keep
	linux	/casper/vmlinuz file=/cdrom/preseed/ubuntu.seed maybe-ubiquity quiet splash --- 
	initrd	/casper/initrd
}
menuentry "Ubuntu (safe graphics)" {
	set gfxpayload=keep
	linux	/casper/vmlinuz nomodeset file=/cdrom/preseed/ubuntu.seed maybe-ubiquity quiet splash --- 
	initrd	/casper/initrd
}
menuentry "OEM install (for manufacturers)" {
	set gfxpayload=keep
	linux	/casper/vmlinuz file=/cdrom/preseed/ubuntu.seed only-ubiquity oem-config/enable=true quiet splash --- 
	initrd	/casper/initrd
}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
	exit 1
}
menuentry 'UEFI Firmware Settings' {
	fwsetup
}
else
menuentry 'Test memory' {
	linux16 /boot/memtest86+.bin
}
fi
