set timeout=10

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
{% if Nocloud_Net.Deploy  == true %}
{% if Static_Boot_Ip.Deploy  == true %}
menuentry "Autoinstall Ubuntu Server" {
    set gfxpayload=keep
    linux   /casper/vmlinuz ip={{ Static_Boot_Ip.Ip }}::{{ Static_Boot_Ip.Gateway }}:{{ Static_Boot_Ip.Subnet }} quiet autoinstall ds=nocloud-net\;s=http://{{ Nocloud_Net.Http_Ip }}:{{ Nocloud_Net.Http_Port }}/  ---
    initrd  /casper/initrd
}
{% else %}
menuentry "Autoinstall Ubuntu Server" {
    set gfxpayload=keep
    linux   /casper/vmlinuz ip=dhcp quiet autoinstall ds=nocloud-net\;s=http://{{ Nocloud_Net.Http_Ip }}:{{ Nocloud_Net.Http_Port }}/  ---
    initrd  /casper/initrd
}
{% endif %}
{% else %}
menuentry "Autoinstall Ubuntu Server" {
    set gfxpayload=keep
    linux   /casper/vmlinuz quiet autoinstall ds=nocloud\;s=/cdrom/autoinstall/  ---
    initrd  /casper/initrd
}
{% endif %}
menuentry "Try or Install Ubuntu Server" {
        set gfxpayload=keep
        linux   /casper/vmlinuz  ---
        initrd  /casper/initrd
}
menuentry "Ubuntu Server with the HWE kernel" {
        set gfxpayload=keep
        linux   /casper/hwe-vmlinuz  ---
        initrd  /casper/hwe-initrd
}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
        exit 1
}
menuentry 'UEFI Firmware Settings' {
        fwsetup
}
else
menuentry 'Test memory' {
        linux16 /boot/memtest86+.bin
}
fi
